<ion-content padding>

  <h1 style="text-align: center; margin-top: 2vh;">Dados do Responsável</h1>

  <ion-item no-lines>
    <ion-label>Responsável</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Responsável</ion-label>
    <ion-select [(ngModel)]="responsable">
      <ion-option value="IASP">Pai</ion-option>
      <ion-option value="IASP">Mãe</ion-option>
      <ion-option value="IASP">Outro</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked>Nome Completo</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>E-mail</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Celular</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Cidade onde mora</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <button full ion-button style="margin-top: 3vh;">FINALIZAR</button>

</ion-content>