<ion-content padding>

  <h1 style="text-align: center; margin-top: 2vh;">Dados Estudantis</h1>

  <ion-item>
    <ion-label>Escola que Estuda</ion-label>
    <ion-select [(ngModel)]="schoolAttendance">
      <ion-option value="IASP">IASP</ion-option>
      <ion-option value="CAHO">CAHO</ion-option>
      <ion-option value="another">Outro</ion-option>
    </ion-select>
</ion-item>

<ion-item no-lines>
  <ion-label>Curso</ion-label>
</ion-item>

<ion-item no-lines>
  <ion-label item-start>Médio</ion-label>
  <ion-radio checked="true" id="masculino" item-start value="masculino"></ion-radio>
  <ion-label item-start>Fundamental</ion-label>
  <ion-radio value="feminino" id="feminino"></ion-radio>
</ion-item>

<ion-item>
  <ion-label>Ano Escolar</ion-label>
  <ion-select [(ngModel)]="schoolAttendance">
    <ion-option value="IASP">8o. Ensino Fundamental</ion-option>
    <ion-option value="IASP">9o. Ensino Fundamental</ion-option>
    <ion-option value="IASP">1o. Ensino Médio</ion-option>
    <ion-option value="IASP">2o. Ensino Médio</ion-option>
  </ion-select>
</ion-item>

<ion-item no-lines>
  <ion-label>Faz algum curso extra?</ion-label>
</ion-item>

<ion-item no-lines>
  <ion-label item-start>Sim</ion-label>
  <ion-radio checked="true" id="masculino" item-start value="masculino"></ion-radio>
  <ion-label item-start>Não</ion-label>
  <ion-radio value="feminino" id="feminino"></ion-radio>
</ion-item>

  <button full ion-button style="margin-top: 3vh;">PRÓXIMA PÁGINA</button>

</ion-content>