<ion-content>

  <h1 style="text-align: center; margin-top: 2vh;">Dados Religiosos</h1>

  <ion-item>
      <ion-label>Religião</ion-label>
      <ion-select [(ngModel)]="religion">
        <ion-option value="adventista">Adventista do Sétimo Dia</ion-option>
        <ion-option value="assembleia">Assembléia de Deus</ion-option>
        <ion-option value="batista">Batista</ion-option>
        <ion-option value="catolico">Católica</ion-option>
        <ion-option value="universal">Universal</ion-option>
        <ion-option value="ateu">Ateu</ion-option>
        <ion-option value="outra">Outra</ion-option>
      </ion-select>
  </ion-item>

    <ion-item>
      <ion-label>Batizado</ion-label>
      <ion-toggle checked="false"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label stacked>Data do Batismo</ion-label>
        <ion-input disabled type="date"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Escola Sabatina</ion-label>
        <ion-select [(ngModel)]="religion">
          <ion-option value="adolescente">Adolescente</ion-option>
          <ion-option value="angolanos">Angolanos</ion-option>
          <ion-option value="consulado">Consulado</ion-option>
          <ion-option value="jovens">Jovens</ion-option>
          <ion-option value="justificados">Justificados</ion-option>
          <ion-option value="outraIgreja">Frequento em outra igreja</ion-option>
          <ion-option value="nenhuma">Nenhuma</ion-option>
          <ion-option value="outra">Outra</ion-option>
        </ion-select>
    </ion-item>

    <button full ion-button style="margin-top: 3vh;">PRÓXIMA PÁGINA</button>

</ion-content>