<ion-content padding>

  <h1 style="text-align: center; margin-top: 2vh;">Dados Pessoais</h1>

  <ion-item>
    <ion-label stacked>Nome</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Sobrenome</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>E-mail</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Senha</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Confirmar Senha</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Voz</ion-label>
    <ion-select [(ngModel)]="voiceType">
      <ion-option value="Soprano">Soprano</ion-option>
      <ion-option value="Contralto">Contralto</ion-option>
      <ion-option value="Tenor">Tenor</ion-option>
      <ion-option value="Baixo">Baixo</ion-option>
      <ion-option value="dontKnow">Não Sei</ion-option>
    </ion-select>
  </ion-item>

  <ion-item no-lines>
      <ion-label>Sexo</ion-label>
    </ion-item>

  <ion-item no-lines>
    <ion-label item-start>Masculino</ion-label>
    <ion-radio checked="true" id="masculino" item-start value="masculino"></ion-radio>
    <ion-label item-start>Feminino</ion-label>
    <ion-radio value="feminino" id="feminino"></ion-radio>
  </ion-item>

  <ion-item no-lines>
    <ion-label>Tipo da Camiseta</ion-label>
  </ion-item>

  <ion-item no-lines>
    <ion-label item-start>Normal</ion-label>
    <ion-radio checked="true" id="masculino" item-start value="masculino"></ion-radio>
    <ion-label item-start>Baby Look</ion-label>
    <ion-radio value="feminino" id="feminino"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Tamanho de Camiseta</ion-label>
    <ion-select [(ngModel)]="tshirtSize">
      <ion-option value="claro">P</ion-option>
      <ion-option value="oi">M</ion-option>
      <ion-option value="vivo">G</ion-option>
      <ion-option value="vivo">GG</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked>Data de Nascimento</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Estado Natal</ion-label>
    <ion-select [(ngModel)]="birthState">
      <ion-option value="claro">São Paulo</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Cidade Natal</ion-label>
    <ion-select [(ngModel)]="birthCity">
      <ion-option value="hortolandia">Hortolândia</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked>CPF</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>RG</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Local de Expedição do RG</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Data de Emissão do RG</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Operadora de Celular</ion-label>
    <ion-select [(ngModel)]="cellphoneOperator">
      <ion-option value="claro">Claro</ion-option>
      <ion-option value="nextel">Nextel</ion-option>
      <ion-option value="oi">Oi</ion-option>
      <ion-option value="tim">Tim</ion-option>
      <ion-option value="vivo">Vivo</ion-option>
      <ion-option value="outro">Outra</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked>Número do Celular</ion-label>
    <ion-input type="Celular"></ion-input>
  </ion-item>

  <button full ion-button style="margin-top: 3vh;">PRÓXIMA PÁGINA</button>

</ion-content>