<ion-header>
  <ion-navbar>
    <ion-title>
      Dados Pessoais
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label stacked>Sobrenome</ion-label>
      <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>E-mail</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Senha</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Confirmar Senha</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label stacked>Data de Nascimento</ion-label>
      <ion-input type="date"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label stacked>RG</ion-label>
      <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label stacked>CPF</ion-label>
      <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Religião</ion-label>
      <ion-select [(ngModel)]="religion">
        <ion-option value="adventista">Adventista do Sétimo Dia</ion-option>
        <ion-option value="assembleia">Assembléia de Deus</ion-option>
        <ion-option value="batista">Batista</ion-option>
        <ion-option value="catolico">Católica</ion-option>
        <ion-option value="universal">Universal</ion-option>
        <ion-option value="ateu">Ateu</ion-option>
        <ion-option value="outra">Outra</ion-option>
      </ion-select>
    </ion-item>

  <ion-item>
    <ion-label>Batizado</ion-label>
    <ion-toggle checked="false"></ion-toggle>
  </ion-item>

  <ion-item>
      <ion-label stacked>Data do Batismo</ion-label>
      <ion-input disabled type="date"></ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label>Operadora</ion-label>
    <ion-select [(ngModel)]="cellphoneOperator">
      <ion-option value="nes">Claro</ion-option>
      <ion-option value="n64">Nextel</ion-option>
      <ion-option value="ps">Oi</ion-option>
      <ion-option value="genesis">Vivo</ion-option>
      <ion-option value="saturn">Tim</ion-option>
      <ion-option value="snes">Outro</ion-option>
    </ion-select>
  </ion-item> -->

</ion-content>
