<ion-content padding>

  <h1 style="text-align: center; margin-top: 2vh;">Dados de Trabalho</h1>

  <ion-item no-lines>
    <ion-label>Você trabalha?</ion-label>
  </ion-item>

  <ion-item no-lines>
    <ion-label item-start>Sim</ion-label>
    <ion-radio checked="true" id="masculino" item-start value="masculino"></ion-radio>
    <ion-label item-start>Não</ion-label>
    <ion-radio value="feminino" id="feminino"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label stacked>Horário de Trabalho</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Nome da Empresa</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Setor</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Nome do Chefe</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <button full ion-button style="margin-top: 3vh;">PRÓXIMA PÁGINA</button>

</ion-content>